
.text-field {
    -fx-font-size: 22pt;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-text-fill: yellow;
    -fx-control-inner-background: derive(#1d1d1d,20%);
}

.text-area {
    -fx-background-color: #336699;
    -fx-control-inner-background: #336699;
    -fx-font-family: "Arial";
    -fx-font-size: 20pt;
    -fx-padding: 5 5 5 5;
}
